<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        {{ lastMonthSpending }}
      </div>
      <div class="card-body">
        <div style="font-size: 30px">${{ lastMonthSpending }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        {{ currentMonthSpending }}
      </div>
      <div class="card-body">
        <div style="font-size: 30px">${{ currentMonthSpending }}</div>
      </div>
    </div>
  </div>
</div>
